.App {
    width: 1300px;
    text-align: center;
    display: flex;
    margin: auto;
}
/* ###################### */
/* #       GENERAL      # */
/* ###################### */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.main {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.selectors {
    display: flex;
    align-items: flex-end;
    padding: 3rem;
}

.autocomplete {
    padding: 1.5rem;
}
.textfield {
    margin-left: auto;
    padding: 1.5rem;
}

.inputLabel {
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 1rem;
}

.orderBook {
    padding-left: 2rem;
    padding-right: 2rem;
}
.tables--container {
    display: flex;
    gap: 2rem;
    background-color: #ffffff;
}

.table--header {
    background-color: rgb(64, 58, 58);
    position: sticky;
    top: 0;
}
.table--header p {
    color: white;
}

.asks {
    color: #efffef;
    background-color: #cd5c5c;
}

.bids {
    background-color: #8fbc8f;
}
